.container-5{
    border: 1px solid black;
    text-align: center;
    width: 75%;
    margin:  auto;
}
 
.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background: url(img/back.jpg);
    color: white;
}

.flex-blackjack-row-1 div{
    border: 1px solid white;
    padding: 10px;
    height: 350px;
    text-align: center;
    flex: 1;
}

.flex-blackjack-row-2 div{
    border: 1px solid #fff;
    padding: 10px;
}

.flex-blackjack-row-2 button{
    border: 1px solid #fff;
    padding: 10px;
}

.flex-blackjack-row-1 img{
    width: 25%;
    padding: 10px;
}

table, th, td{
    border: 1px solid #fff;
    padding: 6px;
} 